* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #252222;
}

.cabecera {
  width: 100%;
  height: 10vh;
  padding: 10px;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  width: 100%;
  height: 60px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav .menu {
  width: 250px;
  height: auto;
  display: flex;
  justify-content: right;
  list-style: none;
  align-items: center;
}

.menu a {
  margin-right: 10px;
  color: white;
  font-family: sans-serif;
}

.usuario a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: gold;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

main .titulo {
  color: white;
  font-size: 9rem;
  font-family: sans-serif;
}

.busqueda {
  margin: 10px;
  width: 100%;
  text-align: center;
}

.busqueda input {
  border-radius: 50px;
  width: 40%;
  font-size: 0.7rem;
  height: 20px;
  padding-left: 5px;
}

main .botones button {
  margin: 5px;
  font-size: 0.7rem;
  padding: 0.3rem;
  font-family: sans-serif;
}

footer {
  background-color: #171414;
  height: 20vh;
}

.footer-uno {
  height: 10vh;
  color: white;
  font-family: sans-serif;
  font-size: 0.7rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
}

.footer-dos {
  height: 10vh;
  color: white;
  font-family: sans-serif;
  font-size: 0.7rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #cecece;
}

.footer-dos a {
  color: white;
  margin: 0 5px;
}

@media screen and (max-width: 768px) {

  main .titulo {
    font-size: 6rem;
  }

  .busqueda {
    margin: 1rem;
  }

  .busqueda input {
    padding-left: 2rem;
    width: 25rem;
  }
  main .botones button {
    margin: 5px;
    font-size: 1rem;
    padding: 0.5rem;
    font-family: sans-serif;
  }
}

@media screen and (max-width: 480px) {
  
  .cabecera {
    font-size: 0.6rem;
  }
  .usuario a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: gold;
  }
  main .titulo {
    font-size: 5rem;
  }
  .busqueda {
    margin: 0.5rem;
  }

  .busqueda input {
    padding-left: 1rem;
    width: 17rem;
 
    }
    main .botones button {
      margin: 2px;
      font-size: 0.4rem;
      padding: 0.5rem;
      font-family: sans-serif;
    }
       
    .footer-uno {
      height: 5vh;
      font-size: 0.5rem;
      padding-left: 0.5rem;
    }
    
    .footer-dos {
      height: 5vh;
      font-size: 0.5rem;
      padding-left: 0.5rem;
    }
}
